body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupa a altura total da tela */
  }
  
  h1 {
    color: #333; /* Cor do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px;
  }